/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #181825FF;
    background-alt: #1E1E2EFF;
    foreground:     #CDD6f4FF;
    selected:       #B4BEFEFF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
