/**
 * @name Gruvbox Dark Hard Theme
 * @description A minimalsitic & good looking discord theme.
 * @author elysianmyst
 * @version 1.0.0
 * @authorId 716564765303898152
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 69,136,133;
  --accentcolor2: 211,134,147;
  --linkcolor: 121,179,174;
  --mentioncolor: 214,93,14;
  --textbrightest: 251,241,199;
  --textbrighter: 210,196,161;
  --textbright: 213,196,161;
  --textdark: 189,174,147;
  --textdarker: 168,153,132;
  --textdarkest: 110,103,95;
  --font: gg sans;
  --backgroundaccent: 48,46,45;
  --backgroundprimary: 29,32,33;
  --backgroundsecondary: 27,30,30;
  --backgroundsecondaryalt: 34,36,36;
  --backgroundtertiary: 22,22,22;
  --backgroundfloating: 29,30,30;
  --settingsicons: 1;
}

/* Feel free to add any custom CSS below here */
